.layout--flush {
	padding:1rem 0rem 0rem 0rem;
}
.layout--flush header {
	padding-left:1rem;
}
.layout--flush .flex {
	margin-top: -1rem;
}
.list {
	border-right: 1px solid #7c7c84
}
.list > div {
	cursor: pointer;
	padding:0.5rem;
	border-bottom: 1px solid #ccc;
}
.list--details {
	flex-grow: 3 !important;
	padding: 1rem;
}
.selected {
	background-color: #086e87;
	color:#fff;
}
.loadCont {
  text-align: center;
  padding: 20px 0px 10px 0px;
}
.list > div.loadCont {
  border-bottom-width:0rem;
}